<div class="table">
    <div class="row">
        <div class="col-sm-3">
            <app-video-player></app-video-player>
        </div>
        <div class="col-sm-5">


        </div>
        <div class="col-sm-2">

            </div>
        <div class="col-sm-2">
            <div class="table">
                <div class="row">
                    <div class="col-sm-12">
                    
                        <app-midi></app-midi>
                    </div>
                    <div class="col-sm-12" style="padding-top:1%">
                        <app-color></app-color>
                    </div>
                </div>
            </div>

        </div>
       
    </div>
</div>