<div class="table">
  <div class="row">
    <div class="col-sm-8">
      <mat-form-field>
        <input matInput placeholder="Selected Resource">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <button mat-icon-button>
        <mat-icon class="media-state-button play-button" svgIcon="play-circle-outline"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="media-state-button pause-button" svgIcon="pause-circle-outline"></mat-icon>
      </button>
    </div>
  </div>
</div>