<div class="table">
    <div class="row">
        <div class="col-sm-5">
            <button (click)="logColor()" class="colorDisplay" [style.background]="color.rgbaValue" mat-raised-button></button>
        </div>
        <div class="col-sm-2">
            <mat-checkbox class="colorPicker"></mat-checkbox>
            <div mat-raised-button class="colorPicker" (colorPickerClose)="colorChange()" cpPosition="left"   [(colorPicker)]="color.rgbaValue" [style.background]="color.rgbaValue"></div>
        </div>
        <div class="col-sm-5">
            <button (click)="logColor()" class="colorDisplay" [style.background]="color.rgbaValue" mat-raised-button></button>
        </div>
    </div>
</div>
