/* You can add global styles to this file, and also import other style files */
.mat-slider {
    width: 100%;
}

.matInput {
    width: 100%
}

.mat-form-field {
    width: 97%
}

.mat-raised-button {
    width: 100%
}